










/*---------------ROBOTO---------------*/

@font-face{
    src: url(tipos-de-letra/Roboto/Roboto-Black.ttf);
    font-family: Roboto1;
}

@font-face{
    src: url(tipos-de-letra/Roboto/Roboto-BlackItalic.ttf);
    font-family: Roboto2;
}

@font-face{
    src: url(tipos-de-letra/Roboto/Roboto-Bold.ttf);
    font-family: Roboto3;
}

@font-face{
    src: url(tipos-de-letra/Roboto/Roboto-BoldItalic.ttf);
    font-family: Roboto4;
}

@font-face{
    src: url(tipos-de-letra/Roboto/Roboto-Italic.ttf);
    font-family: Roboto5;
}

@font-face{
    src: url(tipos-de-letra/Roboto/Roboto-Light.ttf);
    font-family: Roboto6;
}

@font-face{
    src: url(tipos-de-letra/Roboto/Roboto-LightItalic.ttf);
    font-family: Roboto7;
}

@font-face{
    src: url(tipos-de-letra/Roboto/Roboto-Medium.ttf);
    font-family: Roboto8;
}

@font-face{
    src: url(tipos-de-letra/Roboto/Roboto-MuediumItalic.ttf);
    font-family: Roboto9;
}

@font-face{
    src: url(tipos-de-letra/Roboto/Roboto-Regular.ttf);
    font-family: Roboto10;
}

@font-face{
    src: url(tipos-de-letra/Roboto/Roboto-Thin.ttf);
    font-family: Roboto11;
}

@font-face{
    src: url(tipos-de-letra/Roboto/Roboto-ThinItalic.ttf);
    font-family: Roboto12;
}























































